@model postModel

<div> Post</div>
<div> Auth: @Model.AppUserModel.FirstName</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card shadow">
                <img src="@("~/image/"+Model.ImageName)" asp-append-version="true" class="card-img-top" />
                <div class="card-title">
                    @Model.Title
                </div>
                <div class="card-body">
                    @Html.Raw(Model.Body)
                </div>
            </div>
            <div class="">
                @{
                        if (User.Identity.IsAuthenticated)
                    {
                        await Html.RenderPartialAsync("_commentView", new CommentViewModel { postId = Model.Id, mainCommentId = 0 });
                    }

                }
                
                @foreach (var item in Model.Comment)
                {
                    <h4>Main comment</h4>
                    <h6>@item.commentMsg----@item.Created</h6>
                    <p>@item.AppUser.FirstName</p>


                    if (User.Identity.IsAuthenticated)
                    {
                        await Html.RenderPartialAsync("_commentView", new CommentViewModel { postId = Model.Id, mainCommentId = item.Id });

                    }

                    @foreach (var subCmt in item.subComment)
                    {
                        <h4>Sub comment</h4>
                        <h7>@subCmt.commentMsg----@subCmt.Created</h7>
                        <h7>@subCmt.AppUser.FirstName</h7>
                    }

                }
            </div>
        </div>
    </div>
</div>