@model BlogModel

<div class="blog-container">
    <div class="row mt-3">
        <div class="col-lg-8 col-md-10 col-sm-12 ">
            @{
                try
                {
                    if (Model.imageName == "")
                    {
                        <img class="blog-img" src="~/images/default.jpg">
                    }
                    else
                    {
                        <img class="blog-img" src="~/images/@Model.imageName" alt="photo">
                    }
                }
                catch (System.Exception e)
                {

                    <img class="blog-img" src="~/images/default.jpg">
                }
            }
            <div class="blog-title-container">
                <p><span style="color: #5D7D7D;">Author:</span> @Model.userName</p>
                <h4>@Model.blogTitlt</h4>

                @{

                    if (User.Identity.Name == Model.userName)
                    {
                        <div class="blog-edit-delete-btn-container">
                            <a asp-action="Post_Edit_Blog" asp-controller="Blog" class="edit" asp-route-id="@Model.Id">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a asp-action="BlogDelete" asp-route-id="@Model.Id" asp-controller="Blog" class="remove">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="desc-text">
                @Model.blogBody
            </div>
            <div class="cmt-tiltle">
                <h4>Comment</h4>
            </div>
            <div id="cmtBox">
                @{
                    foreach (var item in Model.comment)
                    {
                        <span class="comment-list border"><b>@item.userName: </b>@item.cmtBody</span>
                    }
                }
            </div>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <div class="cmt-submit">
                        <textarea id="cmt-input" class="form-control"></textarea>
                        <button class="btn btn-outline-info"
                        onclick="Comment('@User.Identity.Name','@Model.Id')">Submit</button>
                    </div>
                }
            }
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="about-title">
                About
            </div>
            <div class="d-flex justify-content-center aligen-item-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/images/home.jpg" alt="photo">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut amet eaque laborum voluptatum sunt
                        omnis.
                    </div>
                </div>
            </div>

            <div class="about-title">
                Categores
            </div>
            <div class="cate-container">
                <div>
                    <span>Music</span>
                    <span>Neture</span>
                    <span>Sports</span>
                </div>
                <div>
                    <span>Tech</span>
                    <span>cinema</span>
                    <span>Life</span>
                </div>
            </div>
            <div class="about-title">
                Follow
            </div>
            <div class="social-icon">
                <div class="facebook">
                    <i class="fa-brands fa-facebook-square"></i>
                </div>
                <div class="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>
</div>